.tile-elem{
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin-right: 1%;
    margin-top: 1%;
    padding-bottom: 1%;
}
.tile-elem:hover{
    background: #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
}

.tile-layer-name{
    position: relative;
}

.tile-layer-img{
    position: relative;

}

.tile-layer-description{
    margin-bottom: auto;
    margin-left: auto;
}

.tr-grad:hover{
    background: #dddddd;
}

.tr-grad{
   transition: 0.2s;
    cursor: pointer;
}

.div-expand{
    background: #dadada;
    text-align: center;
    transition: 0.2s;
}

.div-expand:hover{
    background: #c5c5c5;
}

.div-header{
    background: linear-gradient(to top, #dddddd, #365d9b);
    color : #ffffff;
    font-family: AngsanaUPC;
    vertical-align: middle;
}

.div-selects{
    margin-bottom: 1%;
    text-align: left;
}

.search-grad{
    padding-bottom: 1%;
}

.div-search-surname{
    margin-left: 1%;
}

h1 {
    font-family: AngsanaUPC;
}

h2 {
    font-family: "Times New Roman";
}

.kafs-list-item{
    transition : 0.2s
}

.kafs-list-item:hover{
    background: #dddddd;
}

