{% load staticfiles %}

<!--Таблица с выпусениками, отфильтрованная-->
<div class="col-md-9">
<table class="table table-bordered">
    <!--Шапка-->
    <tr class="success">
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Специальность</td>
        <td>Год окончания</td>
        <td>Ступень</td>
        <td>Группа</td>
    </tr>
    {% for graduate in graduates %}
        <tr class="tr-grad" onclick="return location.href = '/get_graduate_description/{{ graduate.id }}'">
            <td>{{ graduate.graduate_surname }}</td>
            <td>{{ graduate.graduate_name }} </td>
            <td>{{ graduate.graduate_patronymic }}</td>
            <td>{{ graduate.graduate_group.group_speciality.speciality_name }}</td>
            <td>{{ graduate.graduate_group.group_end_year  }}</td>
            <td>{{ graduate.graduate_group.group_degree  }}</td>
            <td>{{ graduate.graduate_group.group_number  }}</td>
        </tr>
    {% endfor %}
</table>
</div>
