{% extends 'main.html' %}
{% load staticfiles %}
{% block graduate %}
        <div class="row"><!-- Основной блок -->
            <div class="col-md-2"><!-- Блок слева, поиск по фамилии -->
                <h5>Поиск по фамилии</h5>
                <input type="text" id="search" name="search"/>
                <table id="search_results" class="table"><!-- Таблица для втсавки из ajax_search.html -->
                </table>
            </div><!-- Блок слева, поиск по фамилии конец -->
                <select class="target" id="filter_faculty"><!--Выбор факультета  -->
                    <option value="А" selected="А">А</option>
                    <option value="И">И</option>
                </select><!-- выбор факультета -->
            <div id="search_faculty_results"><!-- Сюда возвращаются значения из ajax, подставляется graduates.html -->
                <div class="col-md-9"><!-- Блок с таблицей -->
                    <table class="table table-bordered"><!-- Таблица выпускников -->
                        <tr class="success">
                            <td>Фамилия</td>
                            <td>Имя</td>
                            <td>Отчество</td>
                            <td>Специальность</td>
                            <td>Год окончания</td>
                            <td>Ступень</td>
                        </tr>
                        {% for graduate in graduates %}
                            <tr class="tr-grad" onclick='return location.href ="get_graduate_description/{{ graduate.id }}"'>
                                <td>{{ graduate.graduate_surname }}</td>
                                <td>{{ graduate.graduate_name }} </td>
                                <td>{{ graduate.graduate_patronymic }}</td>
                                <td>{{ graduate.graduate_speciality }}</td>
                                <td>{{ graduate.graduate_gradyear  }}</td>
                                <td>{{ graduate.graduate_degree  }}</td>
                            </tr>
                        {% endfor %}
                    </table><!-- таблица выпускников -->
                    <div id="expand">Еще</div>
                </div><!-- блок с таблицей -->
            </div>
        </div>


{% endblock %}